In [1]:
from pyspark.sql import functions as f

In [2]:
df = (
    spark
    .read
    .options(header=True, sep='|')
    .csv('/home/rafael/Downloads/microdados_educacao_superior_2019/Microdados_Educaç╞o_Superior_2019/dados/SUP_ALUNO_2019.CSV')
)

In [3]:
df.printSchema()

root
 |-- NU_ANO_CENSO: string (nullable = true)
 |-- CO_IES: string (nullable = true)
 |-- TP_CATEGORIA_ADMINISTRATIVA: string (nullable = true)
 |-- TP_ORGANIZACAO_ACADEMICA: string (nullable = true)
 |-- CO_CURSO: string (nullable = true)
 |-- CO_CURSO_POLO: string (nullable = true)
 |-- TP_TURNO: string (nullable = true)
 |-- TP_GRAU_ACADEMICO: string (nullable = true)
 |-- TP_MODALIDADE_ENSINO: string (nullable = true)
 |-- TP_NIVEL_ACADEMICO: string (nullable = true)
 |-- CO_CINE_ROTULO: string (nullable = true)
 |-- ID_ALUNO: string (nullable = true)
 |-- CO_ALUNO_CURSO: string (nullable = true)
 |-- CO_ALUNO_CURSO_ORIGEM: string (nullable = true)
 |-- TP_COR_RACA: string (nullable = true)
 |-- TP_SEXO: string (nullable = true)
 |-- NU_ANO_NASCIMENTO: string (nullable = true)
 |-- NU_MES_NASCIMENTO: string (nullable = true)
 |-- NU_DIA_NASCIMENTO: string (nullable = true)
 |-- NU_IDADE: string (nullable = true)
 |-- TP_NACIONALIDADE: string (nullable = true)
 |-- CO_PAIS_ORIGEM: string (nullable = true)
 |-- CO_UF_NASCIMENTO: string (nullable = true)
 |-- CO_MUNICIPIO_NASCIMENTO: string (nullable = true)
 |-- IN_DEFICIENCIA: string (nullable = true)
 |-- IN_DEFICIENCIA_AUDITIVA: string (nullable = true)
 |-- IN_DEFICIENCIA_FISICA: string (nullable = true)
 |-- IN_DEFICIENCIA_INTELECTUAL: string (nullable = true)
 |-- IN_DEFICIENCIA_MULTIPLA: string (nullable = true)
 |-- IN_DEFICIENCIA_SURDEZ: string (nullable = true)
 |-- IN_DEFICIENCIA_SURDOCEGUEIRA: string (nullable = true)
 |-- IN_DEFICIENCIA_BAIXA_VISAO: string (nullable = true)
 |-- IN_DEFICIENCIA_CEGUEIRA: string (nullable = true)
 |-- IN_DEFICIENCIA_SUPERDOTACAO: string (nullable = true)
 |-- IN_TGD_AUTISMO: string (nullable = true)
 |-- IN_TGD_SINDROME_ASPERGER: string (nullable = true)
 |-- IN_TGD_SINDROME_RETT: string (nullable = true)
 |-- IN_TGD_TRANSTOR_DESINTEGRATIVO: string (nullable = true)
 |-- TP_SITUACAO: string (nullable = true)
 |-- QT_CARGA_HORARIA_TOTAL: string (nullable = true)
 |-- QT_CARGA_HORARIA_INTEG: string (nullable = true)
 |-- DT_INGRESSO_CURSO: string (nullable = true)
 |-- IN_INGRESSO_VESTIBULAR: string (nullable = true)
 |-- IN_INGRESSO_ENEM: string (nullable = true)
 |-- IN_INGRESSO_AVALIACAO_SERIADA: string (nullable = true)
 |-- IN_INGRESSO_SELECAO_SIMPLIFICA: string (nullable = true)
 |-- IN_INGRESSO_OUTRO_TIPO_SELECAO: string (nullable = true)
 |-- IN_INGRESSO_VAGA_REMANESC: string (nullable = true)
 |-- IN_INGRESSO_VAGA_PROG_ESPECIAL: string (nullable = true)
 |-- IN_INGRESSO_TRANSF_EXOFFICIO: string (nullable = true)
 |-- IN_INGRESSO_DECISAO_JUDICIAL: string (nullable = true)
 |-- IN_INGRESSO_CONVENIO_PECG: string (nullable = true)
 |-- IN_INGRESSO_EGRESSO: string (nullable = true)
 |-- IN_INGRESSO_OUTRA_FORMA: string (nullable = true)
 |-- IN_RESERVA_VAGAS: string (nullable = true)
 |-- IN_RESERVA_ETNICO: string (nullable = true)
 |-- IN_RESERVA_DEFICIENCIA: string (nullable = true)
 |-- IN_RESERVA_ENSINO_PUBLICO: string (nullable = true)
 |-- IN_RESERVA_RENDA_FAMILIAR: string (nullable = true)
 |-- IN_RESERVA_OUTRA: string (nullable = true)
 |-- IN_FINANCIAMENTO_ESTUDANTIL: string (nullable = true)
 |-- IN_FIN_REEMB_FIES: string (nullable = true)
 |-- IN_FIN_REEMB_ESTADUAL: string (nullable = true)
 |-- IN_FIN_REEMB_MUNICIPAL: string (nullable = true)
 |-- IN_FIN_REEMB_PROG_IES: string (nullable = true)
 |-- IN_FIN_REEMB_ENT_EXTERNA: string (nullable = true)
 |-- IN_FIN_REEMB_OUTRA: string (nullable = true)
 |-- IN_FIN_NAOREEMB_PROUNI_INTEGR: string (nullable = true)
 |-- IN_FIN_NAOREEMB_PROUNI_PARCIAL: string (nullable = true)
 |-- IN_FIN_NAOREEMB_ESTADUAL: string (nullable = true)
 |-- IN_FIN_NAOREEMB_MUNICIPAL: string (nullable = true)
 |-- IN_FIN_NAOREEMB_PROG_IES: string (nullable = true)
 |-- IN_FIN_NAOREEMB_ENT_EXTERNA: string (nullable = true)
 |-- IN_FIN_NAOREEMB_OUTRA: string (nullable = true)
 |-- IN_APOIO_SOCIAL: string (nullable = true)
 |-- IN_APOIO_ALIMENTACAO: string (nullable = true)
 |-- IN_APOIO_BOLSA_PERMANENCIA: string (nullable = true)
 |-- IN_APOIO_BOLSA_TRABALHO: string (nullable = true)
 |-- IN_APOIO_MATERIAL_DIDATICO: string (nullable = true)
 |-- IN_APOIO_MORADIA: string (nullable = true)
 |-- IN_APOIO_TRANSPORTE: string (nullable = true)
 |-- IN_ATIVIDADE_EXTRACURRICULAR: string (nullable = true)
 |-- IN_COMPLEMENTAR_ESTAGIO: string (nullable = true)
 |-- IN_COMPLEMENTAR_EXTENSAO: string (nullable = true)
 |-- IN_COMPLEMENTAR_MONITORIA: string (nullable = true)
 |-- IN_COMPLEMENTAR_PESQUISA: string (nullable = true)
 |-- IN_BOLSA_ESTAGIO: string (nullable = true)
 |-- IN_BOLSA_EXTENSAO: string (nullable = true)
 |-- IN_BOLSA_MONITORIA: string (nullable = true)
 |-- IN_BOLSA_PESQUISA: string (nullable = true)
 |-- TP_ESCOLA_CONCLUSAO_ENS_MEDIO: string (nullable = true)
 |-- IN_ALUNO_PARFOR: string (nullable = true)
 |-- TP_SEMESTRE_CONCLUSAO: string (nullable = true)
 |-- TP_SEMESTRE_REFERENCIA: string (nullable = true)
 |-- IN_MOBILIDADE_ACADEMICA: string (nullable = true)
 |-- TP_MOBILIDADE_ACADEMICA: string (nullable = true)
 |-- TP_MOBILIDADE_ACADEMICA_INTERN: string (nullable = true)
 |-- CO_IES_DESTINO: string (nullable = true)
 |-- CO_PAIS_DESTINO: string (nullable = true)
 |-- IN_MATRICULA: string (nullable = true)
 |-- IN_CONCLUINTE: string (nullable = true)
 |-- IN_INGRESSO_TOTAL: string (nullable = true)
 |-- IN_INGRESSO_VAGA_NOVA: string (nullable = true)
 |-- IN_INGRESSO_PROCESSO_SELETIVO: string (nullable = true)
 |-- NU_ANO_INGRESSO: string (nullable = true)

In [4]:
df.write.mode('overwrite').parquet('./aluno/')

In [14]:
(df.filter(
    (f.col('TP_SEXO') == '1') 
    & (f.col('CO_UF_NASCIMENTO') == '43')
    & (f.col('IN_RESERVA_ETNICO') == '1'))
   .count()
    )

2560

In [15]:
df.createOrReplaceTempView('censo')

In [20]:
spark.sql(
'''
    select count(ID_ALUNO) QTD, CO_UF_NASCIMENTO
    from censo
    where IN_BOLSA_PESQUISA = '1'
    group by CO_UF_NASCIMENTO
    order by QTD desc
'''
).toPandas().style

In [21]:
spark.sql(
'''
    select count(ID_ALUNO) QTD
    from censo
    where TP_COR_RACA = '2'
    and TP_SEXO = '1'
    
'''
).toPandas().style

In [7]:
df.count()

12350832

In [ ]:
(
    
)